# Step 1

In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
from vivarium import InteractiveContext, Artifact
from pathlib import Path
#import itertools
import pandas as pd, numpy as np

# Step 2

In [2]:
path = Path('/ihme/homes/lutzes/vivarium_nih_us_cvd/src/vivarium_nih_us_cvd/model_specifications/nih_us_cvd.yaml')
sim = InteractiveContext(path, setup=False)

# Step 3

In [3]:
sim.configuration.update({
                          'population':
                              {'population_size': 50_000,
                              },
                          }
                        )

# Step 4

In [4]:
sim.setup()

2023-07-19 06:34:28.951 | INFO     | simulation_1-artifact_manager:66 - Running simulation from artifact located at /mnt/team/simulation_science/costeffectiveness/artifacts/vivarium_nih_us_cvd/alabama.hdf.
2023-07-19 06:34:28.953 | INFO     | simulation_1-artifact_manager:67 - Artifact base filter terms are ['draw == 0'].
2023-07-19 06:34:28.956 | INFO     | simulation_1-artifact_manager:68 - Artifact additional filter terms are None.

In [5]:
pop0 = sim.get_population()
pop0.head()

,tracked,age,exit_time,entrance_time,alive,sex,location,cause_of_death,years_of_life_lost,years_lived_with_disability,...,post_myocardial_infarction_event_count,post_myocardial_infarction_event_time,transient_post_myocardial_infarction_event_count,transient_post_myocardial_infarction_event_time,heart_failure_from_ischemic_heart_disease_event_time,heart_failure_from_ischemic_heart_disease_event_count,heart_failure_residual_event_time,heart_failure_residual_event_count,acute_myocardial_infarction_and_heart_failure_event_time,acute_myocardial_infarction_and_heart_failure_event_count
0,True,47.388882,NaT,2020-12-04,alive,Female,Alabama,not_dead,0.0,0.0,...,0,NaT,0,NaT,NaT,0,NaT,0,NaT,0
1,True,41.564194,NaT,2020-12-04,alive,Male,Alabama,not_dead,0.0,0.0,...,0,NaT,0,NaT,NaT,0,NaT,0,NaT,0
2,True,53.155826,NaT,2020-12-04,alive,Female,Alabama,not_dead,0.0,0.0,...,0,NaT,0,NaT,NaT,0,NaT,0,NaT,0
3,True,30.457692,NaT,2020-12-04,alive,Male,Alabama,not_dead,0.0,0.0,...,0,NaT,0,NaT,NaT,0,NaT,0,NaT,0
4,True,19.554806,NaT,2020-12-04,alive,Female,Alabama,not_dead,0.0,0.0,...,0,NaT,0,NaT,NaT,0,NaT,0,NaT,0

In [6]:
pop0.columns

Index(['tracked', 'age', 'exit_time', 'entrance_time', 'alive', 'sex',
       'location', 'cause_of_death', 'years_of_life_lost',
       'years_lived_with_disability', 'previous_ischemic_stroke',
       'ischemic_stroke', 'ischemic_heart_disease_and_heart_failure',
       'high_ldl_cholesterol_propensity',
       'ensemble_propensity_risk_factor.high_ldl_cholesterol',
       'high_systolic_blood_pressure_propensity',
       'ensemble_propensity_risk_factor.high_systolic_blood_pressure',
       'high_body_mass_index_in_adults_propensity',
       'ensemble_propensity_risk_factor.high_body_mass_index_in_adults',
       'high_fasting_plasma_glucose_propensity',
       'ensemble_propensity_risk_factor.high_fasting_plasma_glucose',
       'sbp_medication_adherence_propensity',
       'ldlc_medication_adherence_propensity', 'outreach_propensity',
       'polypill_propensity', 'lifestyle_propensity',
       'susceptible_to_ischemic_stroke_event_count',
       'susceptible_to_ischemic_stroke_event_time',
       'acute_ischemic_stroke_event_count', 'acute_ischemic_stroke_event_time',
       'chronic_ischemic_stroke_event_time',
       'chronic_ischemic_stroke_event_count',
       'susceptible_to_ischemic_heart_disease_and_heart_failure_event_time',
       'susceptible_to_ischemic_heart_disease_and_heart_failure_event_count',
       'transient_susceptible_to_ischemic_heart_disease_and_heart_failure_event_time',
       'transient_susceptible_to_ischemic_heart_disease_and_heart_failure_event_count',
       'acute_myocardial_infarction_event_count',
       'acute_myocardial_infarction_event_time',
       'post_myocardial_infarction_event_count',
       'post_myocardial_infarction_event_time',
       'transient_post_myocardial_infarction_event_count',
       'transient_post_myocardial_infarction_event_time',
       'heart_failure_from_ischemic_heart_disease_event_time',
       'heart_failure_from_ischemic_heart_disease_event_count',
       'heart_failure_residual_event_time',
       'heart_failure_residual_event_count',
       'acute_myocardial_infarction_and_heart_failure_event_time',
       'acute_myocardial_infarction_and_heart_failure_event_count'],
      dtype='object')

In [7]:
sim.list_values()

['metrics',
 'cause_specific_mortality_rate',
 'acute_ischemic_stroke.incidence_rate',
 'acute_ischemic_stroke.incidence_rate.paf',
 'acute_ischemic_stroke.dwell_time',
 'acute_ischemic_stroke.disability_weight',
 'disability_weight',
 'acute_ischemic_stroke.excess_mortality_rate',
 'acute_ischemic_stroke.excess_mortality_rate.paf',
 'mortality_rate',
 'chronic_ischemic_stroke.dwell_time',
 'chronic_ischemic_stroke.disability_weight',
 'chronic_ischemic_stroke.excess_mortality_rate',
 'chronic_ischemic_stroke.excess_mortality_rate.paf',
 'chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate',
 'chronic_ischemic_stroke_to_acute_ischemic_stroke.transition_rate.paf',
 'acute_myocardial_infarction.incidence_rate',
 'heart_failure_from_ischemic_heart_disease.incidence_rate',
 'heart_failure_residual.incidence_rate',
 'acute_myocardial_infarction.incidence_rate.paf',
 'heart_failure_from_ischemic_heart_disease.incidence_rate.paf',
 'heart_failure_residual.incidence_rate.paf',
 'susceptible_to_ischemic_heart_disease_and_heart_failure.composite_exit_rate',
 'acute_myocardial_infarction.dwell_time',
 'acute_myocardial_infarction.disability_weight',
 'acute_myocardial_infarction.excess_mortality_rate',
 'acute_myocardial_infarction.excess_mortality_rate.paf',
 'post_myocardial_infarction.dwell_time',
 'post_myocardial_infarction.disability_weight',
 'post_myocardial_infarction.excess_mortality_rate',
 'post_myocardial_infarction.excess_mortality_rate.paf',
 'post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate',
 'post_myocardial_infarction_to_heart_failure_from_ischemic_heart_disease.transition_rate',
 'post_myocardial_infarction_to_acute_myocardial_infarction.transition_rate.paf',
 'post_myocardial_infarction_to_heart_failure_from_ischemic_heart_disease.transition_rate.paf',
 'post_myocardial_infarction.composite_exit_rate',
 'heart_failure_from_ischemic_heart_disease.dwell_time',
 'heart_failure_from_ischemic_heart_disease.disability_weight',
 'heart_failure_from_ischemic_heart_disease.excess_mortality_rate',
 'heart_failure_from_ischemic_heart_disease.excess_mortality_rate.paf',
 'heart_failure_from_ischemic_heart_disease_to_acute_myocardial_infarction_and_heart_failure.transition_rate',
 'heart_failure_from_ischemic_heart_disease_to_acute_myocardial_infarction_and_heart_failure.transition_rate.paf',
 'heart_failure_residual.dwell_time',
 'heart_failure_residual.disability_weight',
 'heart_failure_residual.excess_mortality_rate',
 'heart_failure_residual.excess_mortality_rate.paf',
 'acute_myocardial_infarction_and_heart_failure.dwell_time',
 'acute_myocardial_infarction_and_heart_failure.disability_weight',
 'acute_myocardial_infarction_and_heart_failure.excess_mortality_rate',
 'acute_myocardial_infarction_and_heart_failure.excess_mortality_rate.paf',
 'high_ldl_cholesterol.propensity',
 'high_ldl_cholesterol.drop_value',
 'high_ldl_cholesterol.exposure',
 'high_ldl_cholesterol.raw_exposure',
 'high_systolic_blood_pressure.propensity',
 'high_systolic_blood_pressure.drop_value',
 'high_systolic_blood_pressure.exposure',
 'high_systolic_blood_pressure.raw_exposure',
 'high_body_mass_index_in_adults.propensity',
 'high_body_mass_index_in_adults.drop_value',
 'high_body_mass_index_in_adults.exposure',
 'high_body_mass_index_in_adults.raw_exposure',
 'high_fasting_plasma_glucose.propensity',
 'high_fasting_plasma_glucose.drop_value',
 'high_fasting_plasma_glucose.exposure',
 'high_fasting_plasma_glucose.raw_exposure',
 'categorical_high_systolic_blood_pressure.exposure',
 'affected_unmodeled.cause_specific_mortality_rate',
 'affected_unmodeled.cause_specific_mortality_rate.paf',
 'sbp_medication_adherence.propensity',
 'sbp_medication_adherence.exposure',
 'risk_factor.sbp_medication_adherence.exposure_parameters',
 'ldlc_medication_adherence.propensity',
 'ldlc_medication_adherence.exposure',
 'risk_factor.ldlc_medication_adherence.exposure_parameters',
 'outreach.propensity',
 'outreach.exposure',
 'risk_factor.outreach.exposure_parameters',
 'risk_factor.outreach.exposure_parameters.paf',
 'polypill.propensity',
 'polypill.exposure',
 'risk_factor.polypill.exposure_parameters',
 'risk_factor.polypill.exposure_parameters.paf',
 'lifestyle.propensity',
 'lifestyle.exposure',
 'risk_factor.lifestyle.exposure_parameters',
 'risk_factor.lifestyle.exposure_parameters.paf']

In [8]:
data1 = pd.concat([pop0,
                   sim.get_value('high_ldl_cholesterol.exposure')(pop0.index).rename('high_ldl'),
                   sim.get_value('high_systolic_blood_pressure.exposure')(pop0.index).rename('high_sbp'),
                  ], axis=1)
data1.head()

,tracked,age,exit_time,entrance_time,alive,sex,location,cause_of_death,years_of_life_lost,years_lived_with_disability,...,transient_post_myocardial_infarction_event_count,transient_post_myocardial_infarction_event_time,heart_failure_from_ischemic_heart_disease_event_time,heart_failure_from_ischemic_heart_disease_event_count,heart_failure_residual_event_time,heart_failure_residual_event_count,acute_myocardial_infarction_and_heart_failure_event_time,acute_myocardial_infarction_and_heart_failure_event_count,high_ldl,high_sbp
0,True,47.388882,NaT,2020-12-04,alive,Female,Alabama,not_dead,0.0,0.0,...,0,NaT,NaT,0,NaT,0,NaT,0,4.007415,123.003473
1,True,41.564194,NaT,2020-12-04,alive,Male,Alabama,not_dead,0.0,0.0,...,0,NaT,NaT,0,NaT,0,NaT,0,3.681685,142.341287
2,True,53.155826,NaT,2020-12-04,alive,Female,Alabama,not_dead,0.0,0.0,...,0,NaT,NaT,0,NaT,0,NaT,0,2.326058,119.669086
3,True,30.457692,NaT,2020-12-04,alive,Male,Alabama,not_dead,0.0,0.0,...,0,NaT,NaT,0,NaT,0,NaT,0,4.802915,102.765920
4,True,19.554806,NaT,2020-12-04,alive,Female,Alabama,not_dead,0.0,0.0,...,0,NaT,NaT,0,NaT,0,NaT,0,0.000000,50.000000

# Step 5

In [9]:
sim_data = pd.DataFrame()
for step in list(range(0,5)):
    sim.step()
    pop_t = sim.get_population()
    data_t = pd.concat([pop_t, 
                   sim.get_value('high_ldl_cholesterol.exposure')(pop0.index).rename('high_ldl'),
                   sim.get_value('high_systolic_blood_pressure.exposure')(pop0.index).rename('high_sbp')],
                       axis=1)
    data_t['step'] = step
    sim_data = pd.concat([sim_data, data_t])

In [10]:
sim_data

,tracked,age,exit_time,entrance_time,alive,sex,location,cause_of_death,years_of_life_lost,years_lived_with_disability,...,transient_post_myocardial_infarction_event_time,heart_failure_from_ischemic_heart_disease_event_time,heart_failure_from_ischemic_heart_disease_event_count,heart_failure_residual_event_time,heart_failure_residual_event_count,acute_myocardial_infarction_and_heart_failure_event_time,acute_myocardial_infarction_and_heart_failure_event_count,high_ldl,high_sbp,step
0,True,47.465542,NaT,2020-12-04,alive,Female,Alabama,not_dead,0.0,0.0,...,NaT,NaT,0,NaT,0,NaT,0,4.007415,123.003473,0
1,True,41.640854,NaT,2020-12-04,alive,Male,Alabama,not_dead,0.0,0.0,...,NaT,NaT,0,NaT,0,NaT,0,3.681685,142.341287,0
2,True,53.232486,NaT,2020-12-04,alive,Female,Alabama,not_dead,0.0,0.0,...,NaT,NaT,0,NaT,0,NaT,0,2.326058,119.669086,0
3,True,30.534352,NaT,2020-12-04,alive,Male,Alabama,not_dead,0.0,0.0,...,NaT,NaT,0,NaT,0,NaT,0,4.802915,102.765920,0
4,True,19.631466,NaT,2020-12-04,alive,Female,Alabama,not_dead,0.0,0.0,...,NaT,NaT,0,NaT,0,NaT,0,0.000000,50.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,True,78.019646,NaT,2020-12-04,alive,Male,Alabama,not_dead,0.0,0.0,...,NaT,NaT,0,NaT,0,NaT,0,2.019347,144.601803,4
49996,True,26.772556,NaT,2020-12-04,alive,Male,Alabama,not_dead,0.0,0.0,...,NaT,NaT,0,NaT,0,NaT,0,3.133509,96.963435,4
49997,True,69.415875,NaT,2020-12-04,alive,Female,Alabama,not_dead,0.0,0.0,...,NaT,NaT,0,NaT,0,NaT,0,2.679732,137.668538,4
49998,True,15.568154,NaT,2020-12-04,alive,Female,Alabama,not_dead,0.0,0.0,...,NaT,NaT,0,NaT,0,NaT,0,0.000000,50.000000,4
49999,True,51.146545,NaT,2020-12-04,alive,Male,Alabama,not_dead,0.0,0.0,...,NaT,NaT,0,NaT,0,NaT,0,3.760458,117.080775,4