# Risk Mediation for Heart Failure for BMI through SBP
This notebook is designed to calculate the mediation factors for heart failure SBP. LDL-C and FPG do not directly affect HF in our model, and so do not have a mediation factor here. 

### First, we will load in the relative risk values from GBD

In [1]:
from db_queries import get_outputs as go
from db_queries import get_ids
from get_draws.api import get_draws
import numpy as np
import pandas as pd

In [2]:
ihd_bmi = get_draws(gbd_id_type= 'rei_id', 
                    gbd_id=370, 
                    source= 'rr', 
                    year_id=2019, 
                   age_group_id=[10,11,12,13,14,15,16,17,18,19,20,30,31,32,33],
                   sex_id=[1,2],
                    gbd_round_id=6, 
                    status= 'best',
                    decomp_step='step4')

ihd_bmi = ihd_bmi.loc[ihd_bmi.cause_id==493].reset_index()
ihd_bmi = ihd_bmi[['age_group_id','sex_id','draw_0']]
ihd_bmi['age_start'] = np.where(ihd_bmi['age_group_id']==10,25,np.where(ihd_bmi['age_group_id']==11,30,np.where(ihd_bmi['age_group_id']==12,35,np.where(ihd_bmi['age_group_id']==13,40,np.where(ihd_bmi['age_group_id']==14,45,np.where(ihd_bmi['age_group_id']==15,50,np.where(ihd_bmi['age_group_id']==16,55,np.where(ihd_bmi['age_group_id']==17,60,np.where(ihd_bmi['age_group_id']==18,65,np.where(ihd_bmi['age_group_id']==19,70,np.where(ihd_bmi['age_group_id']==20,75,np.where(ihd_bmi['age_group_id']==30,80,np.where(ihd_bmi['age_group_id']==31,85,np.where(ihd_bmi['age_group_id']==32,90,0))))))))))))))
ihd_bmi['sex'] = np.where(ihd_bmi['sex_id']==1,'Male','Female')
ihd_bmi = ihd_bmi.rename(columns={"draw_0": "ihd_bmi_rr"}).reset_index()
ihd_bmi = ihd_bmi.drop_duplicates(subset=['age_start', 'sex']).reset_index()
ihd_bmi.head()

   level_0  index  age_group_id  sex_id  ihd_bmi_rr  age_start     sex
0        0      0            14       2    1.591258         45  Female
1        1      1            17       2    1.379902         60  Female
2        2      2            12       2    1.685112         35  Female
3        3      3            13       2    1.665879         40  Female
4        4      4            20       2    1.291149         75  Female

In [3]:
stroke_bmi = get_draws(gbd_id_type= 'rei_id', 
                    gbd_id=370, 
                    source= 'rr', 
                    year_id=2019, 
                    age_group_id=[10,11,12,13,14,15,16,17,18,19,20,30,31,32,33],
                    sex_id=[1,2],
                    gbd_round_id=6, 
                    status= 'best', 
                    decomp_step= 'step4')

stroke_bmi = stroke_bmi.loc[stroke_bmi.cause_id==495].reset_index()
stroke_bmi = stroke_bmi[['age_group_id','sex_id','draw_0']]
stroke_bmi['age_start'] = np.where(stroke_bmi['age_group_id']==10,25,np.where(stroke_bmi['age_group_id']==11,30,np.where(stroke_bmi['age_group_id']==12,35,np.where(stroke_bmi['age_group_id']==13,40,np.where(stroke_bmi['age_group_id']==14,45,np.where(stroke_bmi['age_group_id']==15,50,np.where(stroke_bmi['age_group_id']==16,55,np.where(stroke_bmi['age_group_id']==17,60,np.where(stroke_bmi['age_group_id']==18,65,np.where(stroke_bmi['age_group_id']==19,70,np.where(stroke_bmi['age_group_id']==20,75,np.where(stroke_bmi['age_group_id']==30,80,np.where(stroke_bmi['age_group_id']==31,85,np.where(stroke_bmi['age_group_id']==32,90,0))))))))))))))
stroke_bmi['sex'] = np.where(stroke_bmi['sex_id']==1,'Male','Female')
stroke_bmi = stroke_bmi.rename(columns={"draw_0": "stroke_bmi_rr"}).reset_index()
stroke_bmi = stroke_bmi.drop_duplicates(subset=['age_start', 'sex']).reset_index()
stroke_bmi.head()

   level_0  index  age_group_id  sex_id  stroke_bmi_rr  age_start     sex
0        0      0            14       2       1.809969         45  Female
1        1      1            15       2       1.727334         50  Female
2        2      2            13       2       1.738278         40  Female
3        3      3            18       2       1.344813         65  Female
4        4      4            10       2       2.405075         25  Female

In [4]:
ihd_fpg = get_draws(gbd_id_type= 'rei_id', 
                    gbd_id=105, 
                    source= 'rr', 
                    year_id=2019, 
                   age_group_id=[10,11,12,13,14,15,16,17,18,19,20,30,31,32,33],
                   sex_id=[1,2],
                    gbd_round_id=6, 
                    status= 'best', 
                    decomp_step= 'step4')

ihd_fpg = ihd_fpg.loc[ihd_fpg.cause_id==493].reset_index()
ihd_fpg = ihd_fpg[['age_group_id','sex_id','draw_0']]
ihd_fpg['age_start'] = np.where(ihd_fpg['age_group_id']==10,25,np.where(ihd_fpg['age_group_id']==11,30,np.where(ihd_fpg['age_group_id']==12,35,np.where(ihd_fpg['age_group_id']==13,40,np.where(ihd_fpg['age_group_id']==14,45,np.where(ihd_fpg['age_group_id']==15,50,np.where(ihd_fpg['age_group_id']==16,55,np.where(ihd_fpg['age_group_id']==17,60,np.where(ihd_fpg['age_group_id']==18,65,np.where(ihd_fpg['age_group_id']==19,70,np.where(ihd_fpg['age_group_id']==20,75,np.where(ihd_fpg['age_group_id']==30,80,np.where(ihd_fpg['age_group_id']==31,85,np.where(ihd_fpg['age_group_id']==32,90,0))))))))))))))
ihd_fpg['sex'] = np.where(ihd_fpg['sex_id']==1,'Male','Female')
ihd_fpg = ihd_fpg.rename(columns={"draw_0": "ihd_fpg_rr"}).reset_index()
ihd_fpg = ihd_fpg.drop_duplicates(subset=['age_start', 'sex']).reset_index()
ihd_fpg.head()

   level_0  index  age_group_id  sex_id  ihd_fpg_rr  age_start     sex
0        0      0            10       2      1.9325         25  Female
1        1      1            11       2      1.6915         30  Female
2        2      2            12       2      1.4505         35  Female
3        3      3            13       2      1.3135         40  Female
4        4      4            14       2      1.2805         45  Female

In [5]:
stroke_fpg = get_draws(gbd_id_type= 'rei_id', 
                    gbd_id=105, 
                    source= 'rr', 
                    year_id=2019, 
                   age_group_id=[10,11,12,13,14,15,16,17,18,19,20,30,31,32,33],
                   sex_id=[1,2],
                    gbd_round_id=6, 
                    status= 'best', 
                    decomp_step= 'step4')

stroke_fpg = stroke_fpg.loc[stroke_fpg.cause_id==495].reset_index()
stroke_fpg = stroke_fpg[['age_group_id','sex_id','draw_0']]
stroke_fpg['age_start'] = np.where(stroke_fpg['age_group_id']==10,25,np.where(stroke_fpg['age_group_id']==11,30,np.where(stroke_fpg['age_group_id']==12,35,np.where(stroke_fpg['age_group_id']==13,40,np.where(stroke_fpg['age_group_id']==14,45,np.where(stroke_fpg['age_group_id']==15,50,np.where(stroke_fpg['age_group_id']==16,55,np.where(stroke_fpg['age_group_id']==17,60,np.where(stroke_fpg['age_group_id']==18,65,np.where(stroke_fpg['age_group_id']==19,70,np.where(stroke_fpg['age_group_id']==20,75,np.where(stroke_fpg['age_group_id']==30,80,np.where(stroke_fpg['age_group_id']==31,85,np.where(stroke_fpg['age_group_id']==32,90,0))))))))))))))
stroke_fpg['sex'] = np.where(stroke_fpg['sex_id']==1,'Male','Female')
stroke_fpg = stroke_fpg.rename(columns={"draw_0": "stroke_fpg_rr"}).reset_index()
stroke_fpg = stroke_fpg.drop_duplicates(subset=['age_start', 'sex']).reset_index()
stroke_fpg.head()

   level_0  index  age_group_id  sex_id  stroke_fpg_rr  age_start     sex
0        0      0            10       2         1.5236         25  Female
1        1      1            11       2         1.3974         30  Female
2        2      2            12       2         1.2711         35  Female
3        3      3            13       2         1.2058         40  Female
4        4      4            14       2         1.2012         45  Female

In [6]:
ihd_sbp = get_draws(gbd_id_type= 'rei_id', 
                    gbd_id=107, 
                    source= 'rr', 
                    year_id=2019, 
                   age_group_id=[10,11,12,13,14,15,16,17,18,19,20,30,31,32,33],
                   sex_id=[1,2],
                    gbd_round_id=6, 
                    status= 'best', 
                    decomp_step= 'step4')

ihd_sbp = ihd_sbp.loc[ihd_sbp.cause_id==493].reset_index()
ihd_sbp = ihd_sbp[['age_group_id','sex_id','draw_0']]
ihd_sbp['age_start'] = np.where(ihd_sbp['age_group_id']==10,25,np.where(ihd_sbp['age_group_id']==11,30,np.where(ihd_sbp['age_group_id']==12,35,np.where(ihd_sbp['age_group_id']==13,40,np.where(ihd_sbp['age_group_id']==14,45,np.where(ihd_sbp['age_group_id']==15,50,np.where(ihd_sbp['age_group_id']==16,55,np.where(ihd_sbp['age_group_id']==17,60,np.where(ihd_sbp['age_group_id']==18,65,np.where(ihd_sbp['age_group_id']==19,70,np.where(ihd_sbp['age_group_id']==20,75,np.where(ihd_sbp['age_group_id']==30,80,np.where(ihd_sbp['age_group_id']==31,85,np.where(ihd_sbp['age_group_id']==32,90,0))))))))))))))
ihd_sbp['sex'] = np.where(ihd_sbp['sex_id']==1,'Male','Female')
ihd_sbp = ihd_sbp.rename(columns={"draw_0": "ihd_sbp_rr"}).reset_index()
ihd_sbp = ihd_sbp.drop_duplicates(subset=['age_start', 'sex']).reset_index()
ihd_sbp.head()

   level_0  index  age_group_id  sex_id  ihd_sbp_rr  age_start   sex
0        0      0            10       1      2.0317         25  Male
1        1      1            11       1      1.8558         30  Male
2        2      2            12       1      1.6799         35  Male
3        3      3            13       1      1.5729         40  Male
4        4      4            14       1      1.5348         45  Male

In [7]:
stroke_sbp = get_draws(gbd_id_type= 'rei_id', 
                    gbd_id=107, 
                    source= 'rr', 
                    year_id=2019, 
                   age_group_id=[10,11,12,13,14,15,16,17,18,19,20,30,31,32,33],
                   sex_id=[1,2],
                    gbd_round_id=6, 
                    status= 'best', 
                    decomp_step= 'step4')

stroke_sbp = stroke_sbp.loc[stroke_sbp.cause_id==495].reset_index()
stroke_sbp = stroke_sbp[['age_group_id','sex_id','draw_0']]
stroke_sbp['age_start'] = np.where(stroke_sbp['age_group_id']==10,25,np.where(stroke_sbp['age_group_id']==11,30,np.where(stroke_sbp['age_group_id']==12,35,np.where(stroke_sbp['age_group_id']==13,40,np.where(stroke_sbp['age_group_id']==14,45,np.where(stroke_sbp['age_group_id']==15,50,np.where(stroke_sbp['age_group_id']==16,55,np.where(stroke_sbp['age_group_id']==17,60,np.where(stroke_sbp['age_group_id']==18,65,np.where(stroke_sbp['age_group_id']==19,70,np.where(stroke_sbp['age_group_id']==20,75,np.where(stroke_sbp['age_group_id']==30,80,np.where(stroke_sbp['age_group_id']==31,85,np.where(stroke_sbp['age_group_id']==32,90,0))))))))))))))
stroke_sbp['sex'] = np.where(stroke_sbp['sex_id']==1,'Male','Female')
stroke_sbp = stroke_sbp.rename(columns={"draw_0": "stroke_sbp_rr"}).reset_index()
stroke_sbp = stroke_sbp.drop_duplicates(subset=['age_start', 'sex']).reset_index()
stroke_sbp.head()

   level_0  index  age_group_id  sex_id  stroke_sbp_rr  age_start   sex
0        0      0            10       1         1.7644         25  Male
1        1      1            11       1         1.7026         30  Male
2        2      2            12       1         1.6409         35  Male
3        3      3            13       1         1.5878         40  Male
4        4      4            14       1         1.5435         45  Male

In [8]:
ihd_ldl = get_draws(gbd_id_type= 'rei_id', 
                    gbd_id=367, 
                    source= 'rr', 
                    year_id=2019, 
                   age_group_id=[10,11,12,13,14,15,16,17,18,19,20,30,31,32,33],
                   sex_id=[1,2],
                    gbd_round_id=6, 
                    status= 'best', 
                    decomp_step= 'step4')

ihd_ldl = ihd_ldl.loc[ihd_ldl.cause_id==493].reset_index()
ihd_ldl = ihd_ldl[['age_group_id','sex_id','draw_0']]
ihd_ldl['age_start'] = np.where(ihd_ldl['age_group_id']==10,25,np.where(ihd_ldl['age_group_id']==11,30,np.where(ihd_ldl['age_group_id']==12,35,np.where(ihd_ldl['age_group_id']==13,40,np.where(ihd_ldl['age_group_id']==14,45,np.where(ihd_ldl['age_group_id']==15,50,np.where(ihd_ldl['age_group_id']==16,55,np.where(ihd_ldl['age_group_id']==17,60,np.where(ihd_ldl['age_group_id']==18,65,np.where(ihd_ldl['age_group_id']==19,70,np.where(ihd_ldl['age_group_id']==20,75,np.where(ihd_ldl['age_group_id']==30,80,np.where(ihd_ldl['age_group_id']==31,85,np.where(ihd_ldl['age_group_id']==32,90,0))))))))))))))
ihd_ldl['sex'] = np.where(ihd_ldl['sex_id']==1,'Male','Female')
ihd_ldl = ihd_ldl.rename(columns={"draw_0": "ihd_ldl_rr"}).reset_index()
ihd_ldl = ihd_ldl.drop_duplicates(subset=['age_start', 'sex']).reset_index()
ihd_ldl.head()

   level_0  index  age_group_id  sex_id  ihd_ldl_rr  age_start   sex
0        0      0            10       1      2.0053         25  Male
1        1      1            11       1      2.0267         30  Male
2        2      2            12       1      2.0483         35  Male
3        3      3            13       1      1.9898         40  Male
4        4      4            14       1      1.8515         45  Male

In [9]:
stroke_ldl = get_draws(gbd_id_type= 'rei_id', 
                    gbd_id=367, 
                    source= 'rr', 
                    year_id=2019, 
                   age_group_id=[10,11,12,13,14,15,16,17,18,19,20,30,31,32,33],
                   sex_id=[1,2],
                    gbd_round_id=6, 
                    status= 'best', 
                    decomp_step= 'step4')

stroke_ldl = stroke_ldl.loc[stroke_ldl.cause_id==495].reset_index()
stroke_ldl = stroke_ldl[['age_group_id','sex_id','draw_0']]
stroke_ldl['age_start'] = np.where(stroke_ldl['age_group_id']==10,25,np.where(stroke_ldl['age_group_id']==11,30,np.where(stroke_ldl['age_group_id']==12,35,np.where(stroke_ldl['age_group_id']==13,40,np.where(stroke_ldl['age_group_id']==14,45,np.where(stroke_ldl['age_group_id']==15,50,np.where(stroke_ldl['age_group_id']==16,55,np.where(stroke_ldl['age_group_id']==17,60,np.where(stroke_ldl['age_group_id']==18,65,np.where(stroke_ldl['age_group_id']==19,70,np.where(stroke_ldl['age_group_id']==20,75,np.where(stroke_ldl['age_group_id']==30,80,np.where(stroke_ldl['age_group_id']==31,85,np.where(stroke_ldl['age_group_id']==32,90,0))))))))))))))
stroke_ldl['sex'] = np.where(stroke_ldl['sex_id']==1,'Male','Female')
stroke_ldl = stroke_ldl.rename(columns={"draw_0": "stroke_ldl_rr"}).reset_index()
stroke_ldl = stroke_ldl.drop_duplicates(subset=['age_start', 'sex']).reset_index()
stroke_ldl.head()

   level_0  index  age_group_id  sex_id  stroke_ldl_rr  age_start   sex
0        0      0            10       1         1.4165         25  Male
1        1      1            11       1         1.4715         30  Male
2        2      2            12       1         1.5265         35  Male
3        3      3            13       1         1.5155         40  Male
4        4      4            14       1         1.4385         45  Male

### Now we can calculate the deltas
Note that we are finding the same value (deltas) based on two causes (IHD and stroke). Ideally, these should be identical. We find that they are very similar, making me more confident in these calculations.

In [10]:
sbp_ihd_mf = 0.31
ldl_ihd_mf = 0.10
fpg_ihd_mf = 0.15

sbp_stroke_mf = 0.65
ldl_stroke_mf = 0.03
fpg_stroke_mf = 0.22

In [13]:
bmi_delta = ihd_bmi.merge(ihd_fpg[['ihd_fpg_rr','age_start','sex']], on=['age_start','sex']).merge(
    ihd_sbp[['ihd_sbp_rr','age_start','sex']], on=['age_start','sex']).merge(
    stroke_bmi[['stroke_bmi_rr','age_start','sex']], on=['age_start','sex']).merge(
    stroke_fpg[['stroke_fpg_rr','age_start','sex']], on=['age_start','sex']).merge(
    stroke_ldl[['stroke_ldl_rr','age_start','sex']], on=['age_start','sex']).merge(
    stroke_sbp[['stroke_sbp_rr','age_start','sex']], on=['age_start','sex'])

bmi_delta['fpg_delta_1'] = np.log((fpg_ihd_mf*(bmi_delta['ihd_bmi_rr']-1))+1)/np.log(bmi_delta['ihd_fpg_rr'])
bmi_delta['fpg_delta_2'] = np.log((fpg_stroke_mf*(bmi_delta['stroke_bmi_rr']-1))+1)/np.log(bmi_delta['stroke_fpg_rr'])
bmi_delta['sbp_delta_1'] = np.log((sbp_ihd_mf*(bmi_delta['ihd_bmi_rr']-1))+1)/np.log(bmi_delta['ihd_sbp_rr'])
bmi_delta['sbp_delta_2'] = np.log((sbp_stroke_mf*(bmi_delta['stroke_bmi_rr']-1))+1)/np.log(bmi_delta['stroke_sbp_rr'])

bmi_delta['fpg_delta_alt_eq_1'] = (np.log(bmi_delta['ihd_bmi_rr'])-np.log(bmi_delta['ihd_bmi_rr'] - (fpg_ihd_mf*(bmi_delta['ihd_bmi_rr']-1))))/np.log(bmi_delta['ihd_fpg_rr'])
bmi_delta['fpg_delta_alt_eq_2'] = (np.log(bmi_delta['stroke_bmi_rr'])-np.log(bmi_delta['stroke_bmi_rr'] - (fpg_stroke_mf*(bmi_delta['stroke_bmi_rr']-1))))/np.log(bmi_delta['stroke_fpg_rr'])
bmi_delta['sbp_delta_alt_eq_1'] = (np.log(bmi_delta['ihd_bmi_rr'])-np.log(bmi_delta['ihd_bmi_rr'] - (sbp_ihd_mf*(bmi_delta['ihd_bmi_rr']-1))))/np.log(bmi_delta['ihd_sbp_rr'])
bmi_delta['sbp_delta_alt_eq_2'] = (np.log(bmi_delta['stroke_bmi_rr'])-np.log(bmi_delta['stroke_bmi_rr'] - (sbp_stroke_mf*(bmi_delta['stroke_bmi_rr']-1))))/np.log(bmi_delta['stroke_sbp_rr'])

bmi_delta['equation_diff_fpg_ihd'] = bmi_delta['fpg_delta_1'] - bmi_delta['fpg_delta_alt_eq_1']
bmi_delta['equation_diff_fpg_stroke'] = bmi_delta['fpg_delta_2'] - bmi_delta['fpg_delta_alt_eq_2']
bmi_delta['equation_diff_sbp_ihd'] = bmi_delta['sbp_delta_1'] - bmi_delta['sbp_delta_alt_eq_1']
bmi_delta['equation_diff_sbp_stroke'] = bmi_delta['sbp_delta_2'] - bmi_delta['sbp_delta_alt_eq_2']

bmi_delta['delta_diff_fpg'] = bmi_delta['fpg_delta_alt_eq_1'] - bmi_delta['fpg_delta_alt_eq_2']
bmi_delta['delta_diff_sbp'] = bmi_delta['sbp_delta_alt_eq_1'] - bmi_delta['sbp_delta_alt_eq_2']

bmi_delta = bmi_delta[['ihd_bmi_rr','ihd_fpg_rr','ihd_sbp_rr','stroke_bmi_rr','stroke_sbp_rr','stroke_fpg_rr','age_start', 'sex','fpg_delta_1','fpg_delta_alt_eq_1','sbp_delta_1','sbp_delta_alt_eq_1', 'fpg_delta_2','fpg_delta_alt_eq_2','sbp_delta_2','sbp_delta_alt_eq_2','equation_diff_fpg_ihd','equation_diff_fpg_stroke','equation_diff_sbp_ihd','equation_diff_sbp_stroke','delta_diff_fpg','delta_diff_sbp']]
bmi_delta

,ihd_bmi_rr,ihd_fpg_rr,ihd_sbp_rr,stroke_bmi_rr,stroke_sbp_rr,stroke_fpg_rr,age_start,sex,fpg_delta_1,fpg_delta_alt_eq_1,...,fpg_delta_2,fpg_delta_alt_eq_2,sbp_delta_2,sbp_delta_alt_eq_2,equation_diff_fpg_ihd,equation_diff_fpg_stroke,equation_diff_sbp_ihd,equation_diff_sbp_stroke,delta_diff_fpg,delta_diff_sbp
0,1.591258,1.2805,1.5348,1.809969,1.5435,1.2012,45,Female,0.343675,0.231944,...,0.894507,0.565351,0.974454,0.791903,0.111731,0.329156,0.107193,0.182551,-0.333407,-0.506242
1,1.379902,1.1815,1.4203,1.497946,1.4105,1.1877,60,Female,0.332289,0.252862,...,0.604311,0.441489,0.815261,0.707785,0.079427,0.162822,0.063059,0.107476,-0.188627,-0.453531
2,1.685112,1.4505,1.6799,1.919950,1.6409,1.2711,35,Female,0.263028,0.169192,...,0.768336,0.464368,0.946466,0.753499,0.093836,0.303967,0.111566,0.192967,-0.295176,-0.493798
3,1.665879,1.3135,1.5729,1.738278,1.5878,1.2058,40,Female,0.349118,0.226737,...,0.804223,0.524175,0.847760,0.698727,0.122381,0.280049,0.122252,0.149033,-0.297438,-0.406648
4,1.291149,1.1897,1.2947,1.273751,1.2820,1.1660,75,Female,0.246087,0.198097,...,0.380790,0.315382,0.659225,0.605704,0.047990,0.065408,0.053994,0.053522,-0.117285,-0.325126
5,1.296208,1.1512,1.3402,1.271957,1.3233,1.1760,70,Female,0.308742,0.247712,...,0.358435,0.297192,0.581073,0.534160,0.061030,0.061243,0.049091,0.046913,-0.049480,-0.283236
6,2.094858,1.6915,1.8558,2.220086,1.7026,1.3974,30,Female,0.289297,0.155322,...,0.710585,0.385107,1.097274,0.830490,0.133974,0.325478,0.186744,0.266784,-0.229785,-0.544617
7,3.510608,1.9325,2.0317,2.405075,1.7644,1.5236,25,Female,0.485129,0.172239,...,0.639677,0.326711,1.142685,0.841149,0.312890,0.312966,0.458493,0.301536,-0.154472,-0.487576
8,1.382845,1.2475,1.4966,1.727334,1.4992,1.1968,50,Female,0.252501,0.191800,...,0.826221,0.541113,0.956070,0.789735,0.060701,0.285107,0.055602,0.166335,-0.349313,-0.567182
9,1.425974,1.2145,1.4584,1.556205,1.4548,1.1923,55,Female,0.318720,0.235903,...,0.656330,0.465614,0.823253,0.705257,0.082817,0.190717,0.071169,0.117995,-0.229710,-0.447725
10,1.395200,1.1485,1.3821,1.344813,1.3662,1.1833,65,Female,0.415938,0.313582,...,0.434440,0.344976,0.648101,0.584282,0.102356,0.089464,0.073122,0.063820,-0.031394,-0.300272
11,1.228665,1.2860,1.2310,1.103374,1.1787,1.1410,80,Female,0.134074,0.112562,...,0.170483,0.157894,0.395542,0.382156,0.021513,0.012589,0.043602,0.013387,-0.045332,-0.096221
12,1.228665,1.2860,1.2310,1.103374,1.1787,1.1410,85,Female,0.134074,0.112562,...,0.170483,0.157894,0.395542,0.382156,0.021513,0.012589,0.043602,0.013387,-0.045332,-0.096221
13,1.228665,1.2860,1.2310,1.103374,1.1787,1.1410,90,Female,0.134074,0.112562,...,0.170483,0.157894,0.395542,0.382156,0.021513,0.012589,0.043602,0.013387,-0.045332,-0.096221
14,1.296208,1.1512,1.3402,1.271957,1.3233,1.1760,70,Male,0.308742,0.247712,...,0.358435,0.297192,0.581073,0.534160,0.061030,0.061243,0.049091,0.046913,-0.049480,-0.283236
15,1.291149,1.1897,1.2947,1.273751,1.2820,1.1660,75,Male,0.246087,0.198097,...,0.380790,0.315382,0.659225,0.605704,0.047990,0.065408,0.053994,0.053522,-0.117285,-0.325126
16,1.395200,1.1485,1.3821,1.344813,1.3662,1.1833,65,Male,0.415938,0.313582,...,0.434440,0.344976,0.648101,0.584282,0.102356,0.089464,0.073122,0.063820,-0.031394,-0.300272
17,1.425974,1.2145,1.4584,1.556205,1.4548,1.1923,55,Male,0.318720,0.235903,...,0.656330,0.465614,0.823253,0.705257,0.082817,0.190717,0.071169,0.117995,-0.229710,-0.447725
18,2.094858,1.6915,1.8558,2.220086,1.7026,1.3974,30,Male,0.289297,0.155322,...,0.710585,0.385107,1.097274,0.830490,0.133974,0.325478,0.186744,0.266784,-0.229785,-0.544617
19,1.591258,1.2805,1.5348,1.809969,1.5435,1.2012,45,Male,0.343675,0.231944,...,0.894507,0.565351,0.974454,0.791903,0.111731,0.329156,0.107193,0.182551,-0.333407,-0.506242
20,1.685112,1.4505,1.6799,1.919950,1.6409,1.2711,35,Male,0.263028,0.169192,...,0.768336,0.464368,0.946466,0.753499,0.093836,0.303967,0.111566,0.192967,-0.295176,-0.493798
21,3.510608,1.9325,2.0317,2.405075,1.7644,1.5236,25,Male,0.485129,0.172239,...,0.639677,0.326711,1.142685,0.841149,0.312890,0.312966,0.458493,0.301536,-0.154472,-0.487576
22,1.665879,1.3135,1.5729,1.738278,1.5878,1.2058,40,Male,0.349118,0.226737,...,0.804223,0.524175,0.847760,0.698727,0.122381,0.280049,0.122252,0.149033,-0.297438,-0.406648
23,1.382845,1.2475,1.4966,1.727334,1.4992,1.1968,50,Male,0.252501,0.191800,...,0.826221,0.541113,0.956070,0.789735,0.060701,0.285107,0.055602,0.166335,-0.349313,-0.567182
24,1.379902,1.1815,1.4203,1.497946,1.4105,1.1877,60,Male,0.332289,0.252862,...,0.604311,0.441489,0.815261,0.707785,0.079427,0.162822,0.063059,0.107476,-0.188627,-0.453531
25,1.228665,1.2860,1.2310,1.103374,1.1787,1.1410,80,Male,0.134074,0.112562,...,0.170483,0.157894,0.395542,0.382156,0.021513,0.012589,0.043602,0.013387,-0.045332,-0.096221
26,1.228665,1.2860,1.2310,1.103374,1.1787,1.1410,85,Male,0.134074,0.112562,...,0.170483,0.157894,0.395542,0.382156,0.021513,0.012589,0.043602,0.013387,-0.045332,-0.096221
27,1.228665,1.2860,1.2310,1.103374,1.1787,1.1410,90,Male,0.134074,0.112562,...,0.170483,0.157894,0.395542,0.382156,0.021513,0.012589,0.043602,0.013387,-0.045332,-0.096221

In [14]:
print(bmi_delta['equation_diff_fpg_ihd'].mean())
print(bmi_delta['equation_diff_fpg_ihd'].max())
print(bmi_delta['equation_diff_fpg_stroke'].mean())
print(bmi_delta['equation_diff_fpg_stroke'].max())
print(bmi_delta['equation_diff_sbp_ihd'].mean())
print(bmi_delta['equation_diff_sbp_ihd'].max())
print(bmi_delta['equation_diff_sbp_stroke'].mean())
print(bmi_delta['equation_diff_sbp_stroke'].max())

0.09097653337044909
0.31289013913355346
0.17458166550219545
0.32915593642533814
0.10593500629218247
0.45849270376898893
0.12064939752630666
0.3015358844591437

The deltas here are quite different now... which is a bit concerning to our approach. I think using the IHD delta values makes the most sense as IHD is more likely to be similar to HF.

### The RR for SBP to HF is categorical, we need continuous
The literature value for SBP RR to HF are in categories. To account for this, we found a continuous RR that approximates the same values. The mean_SBP are based on exposure values form GBD.

In [ ]:
SBP_RR = pd.DataFrame(np.array([['<120',1,110.6],['120-129',1.27,124.4],['130-139',1.5,134.2],['140+',1.76,150.7]]),
                   columns=['SBP_Group', 'RR_original', 'Mean_SBP'])
SBP_RR['Mean_SBP'] = pd.to_numeric(SBP_RR['Mean_SBP'])
SBP_RR['Change_in_SBP'] = SBP_RR['Mean_SBP'] - 110.6
cont_RR = 1.016
SBP_RR['New_RR'] = np.power(cont_RR,SBP_RR['Change_in_SBP'])
SBP_RR

### Lastly, we find the Mediation Factors

In [ ]:
rr_sbp = 1.016
rr_bmi = 1.14

In [ ]:
bmi_delta['sbp_delta_1'] = bmi_delta.sbp_delta_1 * 2 
bmi_delta = bmi_delta[['age_start', 'sex', 'sbp_delta_1']]
bmi_delta#.head()

In [ ]:
HF_MF=pd.DataFrame(bmi_delta)
HF_MF.to_csv('/ihme/homes/lutzes/heart_failure_MF.csv')

### Testing based on the intervention if we need FPG
This is bit tough/estimated since right now I am extracting data from a figure. I hope to find better data at some point. I am choosing to assess this at 1 year since that is when there is the greatest change in both BMI and FPG.

In [ ]:
#int_bmi = 2.5
#int_fpg = 0.3 mmol/L --> 5 mg/dL

For BMI will account for a 1/2 unit change in FPG, the intervention saw a ~5 unit change, we should add mediation

## New Testing Based on Zeb's Calculations

In [12]:
bmi_ihd = ihd_bmi.loc[(ihd_bmi.age_start==70) & (ihd_bmi.sex == 'Female')].ihd_bmi_rr.values[0]
sbp_ihd = ihd_sbp.loc[(ihd_sbp.age_start==70) & (ihd_sbp.sex == 'Female')].ihd_sbp_rr.values[0]
ldl_ihd = ihd_ldl.loc[(ihd_ldl.age_start==70) & (ihd_ldl.sex == 'Female')].ihd_ldl_rr.values[0]
fpg_ihd = ihd_fpg.loc[(ihd_fpg.age_start==70) & (ihd_fpg.sex == 'Female')].ihd_fpg_rr.values[0]

sbp_mf = 0.31
ldl_mf = 0.10
fpg_mf = 0.15
print(bmi_ihd,sbp_ihd,ldl_ihd,fpg_ihd)

AttributeError: 'DataFrame' object has no attribute 'ihd_bmi_rr'

In [ ]:
## Alternative way 
## Δ_(r→m)=(log⁡(MF∗(RR_(R→O,total)−1)+1))/(log⁡(RR_(M→O)))
delta_sbp = np.log((sbp_mf*(bmi_ihd-1))+1)/np.log(sbp_ihd)
delta_ldl = np.log(ldl_mf*(bmi_ihd-1)+1)/np.log(ldl_ihd)
delta_fpg = np.log(fpg_mf*(bmi_ihd-1)+1)/np.log(fpg_ihd)
print(delta_sbp,delta_ldl,delta_fpg)

In [ ]:
## Method used today
## RR adj = 1+ (RR unad -1) * (1-MF_SBP) * (1-MF_LDL) * (1-MF_FPG)
RR_adj_1 = 1+(bmi_ihd -1)*(1-sbp_mf)*(1-ldl_mf)*(1-fpg_mf)
RR_adj_1

In [ ]:
RR_adj_1 * ((pow(sbp_ihd, delta_sbp))*(pow(ldl_ihd, delta_ldl))*(pow(fpg_ihd, delta_fpg)))

In [ ]:
## RR_adj=(BMI_IHD)/(∏_m▒(RR_(m→o) )^(Δ_(r→m)))
RR_adj_2=(bmi_ihd)/((pow(sbp_ihd, delta_sbp))*(pow(ldl_ihd, delta_ldl))*(pow(fpg_ihd, delta_fpg)))
RR_adj_2

In [ ]:
RR_adj_2 * ((pow(sbp_ihd, delta_sbp))*(pow(ldl_ihd, delta_ldl))*(pow(fpg_ihd, delta_fpg)))

### Also for Stroke

In [ ]:
bmi_stroke = stroke_bmi.loc[(stroke_bmi.age_start==70) & (stroke_bmi.sex == 'Female')].stroke_bmi_rr.values[0]
sbp_stroke = stroke_sbp.loc[(stroke_sbp.age_start==70) & (stroke_sbp.sex == 'Female')].stroke_sbp_rr.values[0]
ldl_stroke = stroke_ldl.loc[(stroke_ldl.age_start==70) & (stroke_ldl.sex == 'Female')].stroke_ldl_rr.values[0]
fpg_stroke = stroke_fpg.loc[(stroke_fpg.age_start==70) & (stroke_fpg.sex == 'Female')].stroke_fpg_rr.values[0]

sbp_mf = 0.65
ldl_mf = 0.03
fpg_mf = 0.22
print(bmi_stroke,sbp_ihd,ldl_ihd,fpg_ihd)

In [ ]:
## Alternative way 
## Δ_(r→m)=(log⁡(MF∗(RR_(R→O,total)−1)+1))/(log⁡(RR_(M→O)))
delta_sbp = np.log((sbp_mf*(bmi_stroke-1))+1)/np.log(sbp_stroke)
delta_ldl = np.log(ldl_mf*(bmi_stroke-1)+1)/np.log(ldl_stroke)
delta_fpg = np.log(fpg_mf*(bmi_stroke-1)+1)/np.log(fpg_stroke)
print(delta_sbp,delta_ldl,delta_fpg)

In [ ]:
## Method used today
## RR adj = 1+ (RR unad -1) * (1-MF_SBP) * (1-MF_LDL) * (1-MF_FPG)
RR_adj_1 = 1+(bmi_stroke -1)*(1-sbp_mf)*(1-ldl_mf)*(1-fpg_mf)
RR_adj_1

In [ ]:
RR_adj_1 * ((pow(sbp_stroke, delta_sbp))*(pow(ldl_stroke, delta_ldl))*(pow(fpg_stroke, delta_fpg)))

In [ ]:
## RR_adj=(BMI_IHD)/(∏_m▒(RR_(m→o) )^(Δ_(r→m)))
RR_adj_2=(bmi_stroke)/((pow(sbp_stroke, delta_sbp))*(pow(ldl_stroke, delta_ldl))*(pow(fpg_stroke, delta_fpg)))
RR_adj_2

In [ ]:
RR_adj_2 * ((pow(sbp_stroke, delta_sbp))*(pow(ldl_stroke, delta_ldl))*(pow(fpg_stroke, delta_fpg)))

## Finding the Draw Level Deltas for BMI through SBP

In [ ]:
mfs = pd.read_csv('/mnt/team/simulation_science/costeffectiveness/artifacts/vivarium_nih_us_cvd/raw_data/mediation_matrix_draw_gbd_2021_edited.csv')
mfs = mfs.loc[(mfs.rei_id == 370) & (mfs.med_id == 107) & (mfs.cause_id == 493)]
mfs

In [ ]:
mfs.iloc[:,4:1004]

In [ ]:
sbp_rr = ihd_sbp.drop(columns=['level_0','index','rei_id','modelable_entity_id','location_id','year_id',
                                'age_group_id','cause_id','sex_id','mortality','morbidity','metric_id','parameter','exposure'])
bmi_rr = ihd_bmi.drop(columns=['level_0','index','rei_id','modelable_entity_id','location_id','year_id',
                                'age_group_id','cause_id','sex_id','mortality','morbidity','metric_id','parameter','exposure'])
sbp_rr.iloc[:,:1000].head()

In [ ]:
#Formula delta = (log((MF * (BMI RR - 1)) +1) / log(SBP RR)) ^2

bmi_rr.iloc[:,:1000] = (bmi_rr.iloc[:,:1000] - 1)
bmi_rr.iloc[:,:1000] = pd.DataFrame(bmi_rr.iloc[:,:1000].values*mfs.iloc[:,4:1004].values, 
                       columns=bmi_rr.iloc[:,:1000].columns, index=bmi_rr.iloc[:,:1000].index)

bmi_rr.iloc[:,:1000] = (bmi_rr.iloc[:,:1000] + 1)
bmi_rr.iloc[:,:1000] = np.log(bmi_rr.iloc[:,:1000])

sbp_rr.iloc[:,:1000] = np.log(sbp_rr.iloc[:,:1000])

bmi_rr.iloc[:,:1000] = pd.DataFrame(bmi_rr.iloc[:,:1000].values / sbp_rr.iloc[:,:1000].values, 
                       columns=bmi_rr.iloc[:,:1000].columns, index=bmi_rr.iloc[:,:1000].index)

bmi_rr.iloc[:,:1000] = (bmi_rr.iloc[:,:1000])**2

bmi_rr#.head()
##Spot checked this and seems to be working as I expected it to

In [ ]:
#ihd_bmi_small.to_csv('/ihme/homes/lutzes/heart_failure_deltas_all_draws.csv')